# Xcode 
*.xcuserstate
*.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/**/*
*.xcscmblueprint

# User Setup
xcuserdata/
DerivedData/
.idea/
.vscode/

# Build Artifacts
build/
Build/
*.app
*.ipa
*.dSYM
*.dSYM.zip
*.log

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods 
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Playground
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive

# Asset Catalog compiler
*.xcassets

# App Specific Config
RSChat/RSChat/RSChat/App/Config/*.xcconfig

# Environment Files
.env
.env.*

# Test Output
test-output/
